:root {
  --max-width: 1100px;
  --border-radius: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;


  /* Custom colors */
  --grey: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


header,
main,
footer {
    max-width: 100%;
    width: var(--max-width);
    margin-inline: auto;

    padding: 2rem;
}


img {
    width: 100%;
    height: auto;
}

.logo {
    width: 8rem;
    display: block;
}

.icon {
    display: inline-block;

    /* width: 2.2rem;
    height: 2.8rem; */
    width: 40px;
    height: 40px;

    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grey, black);
    border-radius: var(--border-radius, 10px);
}

button.icon {
    border: 0;
    cursor: pointer;
}

.device .icon {
    width: 65px;
    height: 65px;
}


.icon[data-animation="rotate"] img {
    animation: rotation 1.6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}
.toggle {
    display: inline-block;
    width: 40px;
    height: 17px;

    border-radius: .6rem;

    background: rgb(var(--foreground-rgb));
    border-color: transparent;

    position: relative;
}

.toggle i {
    position: absolute;
    top: 2px;

    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: var(--grey);
    border-color: transparent;

    transition: all 900ms ease;
}

.disabled {
    opacity: .4;
}


.toggle[data-on="true"] {
    background: linear-gradient(#EDBAFF, #A1FFFF);
}

.toggle[data-on="true"] i {
    right: 1px;    
    background-color: #1A1A1A;
}

.toggle:not([data-on="true"]) i {
    left: 1px;
}


.sensor-display {

    padding: 1rem;
    width: 100%;
    height: 200px;

    background-color: var(--grey, black);
    border-radius: var(--border-radius, 10px);
}


.log-list {
    max-width: 100%;
    max-height: 500px;
    overflow: auto;
}

.log-list .log-item {
    padding-block: 1rem;
    border-bottom: 1px solid var(--grey);

    --column-gap: 1rem;
}




.hero-btn {
    display: inline-block;

    width: 300px;
    padding: 1rem;

    border: 1px solid rgb(var(--foreground-rgb));

    font-weight: bold;

    transition: background 300ms ease;
}

.hero-btn span {
    transition: color 300ms ease;
}

.hero-btn:hover {
    background: rgb(var(--foreground-rgb));
}
.hero-btn:hover span {
    color: var(--grey);
}


.features {
    --row-gap: 2rem;
    --column-gap: 1.6rem;
}


.features article {
    padding: 2rem;
    max-width: 100%;

    background-color: var(--grey);

    border-radius: 1rem;

    margin-block: 1.5rem;

    line-height: 1.6rem;
}

.stack {
    height: 600px;
}


@media screen and (min-width: 1100px) {
    .log-list {
        width:22rem;
        overflow: auto;
    }

    header,
    main,
    footer {
        padding-inline: 0;
    }


    .sensor-display {
        width: 270px;
        height: 230px;
    }


    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

        gap: 2rem;

        margin-block: 4rem 1.5rem;
    }

    .features article {
        padding: 3rem;

        margin-block: 0;
        line-height: 2rem;
    }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
